[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
pymongo = "*"
flask-mongoengine = "*"
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
arrow = "*"
lxml = "*"
flask-restful = "*"

[requires]
python_version = "3.7"
