[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
pymongo = "*"
flask-mongoengine = "*"

[requires]
python_version = "3.7"
